html{
background-image:url(../giftly.png);
}

body{
width: 700px;
padding: 50px;
margin-top: 50px;
margin-left: auto;
margin-right: auto;
text-align: center;
font-family: arial, helvetica, sans-serif;
border: 4px solid #000;
background-color: limegreen;
}

a{ 
font-size: 12pt;
color:#686143;
text-decoration:none;
}

a:hover{
color:pink;
}

h1{
font size: 36pt;
color:#000;
border-top: 2px dotted #686143;
border-bottom: 2px dotted #686143;
text-transform: uppercase;
}

img{
    border: medium dotted #666;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}

